<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shaw.mapper.LinkMapper">

    <resultMap type="Link" id="LinkResult">
        <result property="id" column="id"/>
        <result property="linkName" column="link_name"/>
        <result property="linkUrl" column="link_url"/>
        <result property="orderNo" column="order_no"/>
    </resultMap>

    <sql id="Base_Column_List">
		id,link_name, link_url, order_no
	</sql>

    <insert id="add" parameterType="Link">
		insert into link values(null,#{linkName},#{linkUrl},#{orderNo})
	</insert>

    <update id="update" parameterType="Link">
        update link
        <set>
            <if test="linkName!=null and linkName!='' ">
                link_name=#{linkName},
            </if>
            <if test="linkUrl!=null and linkUrl!='' ">
                link_url=#{linkUrl},
            </if>
            <if test="orderNo!=null">
                order_no=#{orderNo},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="list" parameterType="Map" resultMap="LinkResult">
        select
        <include refid="Base_Column_List"/>
        from link order by order_no
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="getTotal" parameterType="Map" resultType="Long">
		select count(1) from link
	</select>


    <delete id="delete" parameterType="Integer">
		delete from link where id=#{id}
	</delete>
</mapper> 
