<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shaw.mapper.RemoteMsgMapper">
    <resultMap id="BaseResultMap" type="com.shaw.bo.RemoteMsg">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="topic" property="topic" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="contents" property="contents" jdbcType="VARCHAR"/>
        <result column="other" property="other" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="op_time" property="opTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, topic, status, contents, other, create_time, op_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_remote_msg
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="queryList" resultMap="BaseResultMap" parameterType="com.shaw.vo.RemoteMsgQuery">
        SELECT
        <include refid="Base_Column_List"/>
        from t_remote_msg
        <where>
            <if test="status!=null">
                status=#{status}
            </if>
            <if test="topic!=null">
                and topic=#{topic}
            </if>
        </where>
        ORDER BY create_time DESC
        limit #{start},#{pageSize}
    </select>
    <select id="queryCount" resultType="Integer" parameterType="com.shaw.vo.RemoteMsgQuery">
        SELECT
        count(1)
        from t_remote_msg
        <where>
            <if test="status!=null">
                status=#{status}
            </if>
            <if test="topic!=null">
                and topic=#{topic}
            </if>
        </where>
    </select>
    <select id="consumerMsg" resultMap="BaseResultMap" parameterType="String">
        SELECT
        <include refid="Base_Column_List"/>
        from t_remote_msg
        WHERE status=1 and topic=#{topic}
        ORDER BY create_time
        limit 1
    </select>
    <delete id="batchDelete" parameterType="List">
        delete from t_remote_msg WHERE
        id in
        <foreach collection="list" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_remote_msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.shaw.bo.RemoteMsg">
    insert into t_remote_msg (id, topic, status, 
      contents, other, create_time, 
      op_time)
    values (#{id,jdbcType=INTEGER}, #{topic,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{contents,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{opTime,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="com.shaw.bo.RemoteMsg">
        insert into t_remote_msg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="topic != null">
                topic,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="contents != null">
                contents,
            </if>
            <if test="other != null">
                other,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="opTime != null">
                op_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="topic != null">
                #{topic,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=SMALLINT},
            </if>
            <if test="contents != null">
                #{contents,jdbcType=VARCHAR},
            </if>
            <if test="other != null">
                #{other,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="opTime != null">
                #{opTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shaw.bo.RemoteMsg">
        update t_remote_msg
        <set>
            <if test="topic != null">
                topic = #{topic,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=SMALLINT},
            </if>
            <if test="contents != null">
                contents = #{contents,jdbcType=VARCHAR},
            </if>
            <if test="other != null">
                other = #{other,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="opTime != null">
                op_time = #{opTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shaw.bo.RemoteMsg">
    update t_remote_msg
    set topic = #{topic,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      contents = #{contents,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      op_time = #{opTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>