<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        ">

    <import resource="applicationContext-redis.xml"></import>
    <import resource="applicationContext-db.xml"></import>
    <import resource="applicationContext-shiro.xml"></import>

    <bean id="httpClient" class="com.shaw.util.HttpClientUtils" factory-method="acceptsUntrustedCertsHttpClient"/>
    <bean id="clientHttpRequestFactory" class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">
        <constructor-arg ref="httpClient"/>
        <property name="readTimeout" value="60000"></property>
        <property name="connectTimeout" value="10000"></property>
    </bean>
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg ref="clientHttpRequestFactory"></constructor-arg>
    </bean>



    <bean id="blogIndex" class="com.shaw.lucene.BlogIndex"/>
    <!-- 自动扫描 -->
    <context:component-scan base-package="com.shaw.service"/>
    <!-- 为了保持applicationContext，将Listener 作为bean保存-->
    <bean id="initComponent" class="com.shaw.listener.InitComponent"></bean>
    <bean class="com.shaw.handler.ExceptionHandler"></bean>

    <!--开启aop注解-->
    <context:component-scan base-package="com.shaw.aop"/>
    <aop:aspectj-autoproxy/>
</beans>