.data_list .data_list_title .datas {
    padding: 5px;
}

.liclass.title {
    display: block;
    line-height: 1.5;
    padding-bottom: 5px;
    font-size: 18px;
}

.liclass .title a {
    color: #000000;
}

.liclass.summary {
    display: block;
    line-height: 19.5px;
    padding-top: 5px;
    font-size: 13px;
}

.liclass .img {
    display: block;
    clear: both;
}

.liclass img {
    padding: 10px;
    padding-left: 0px;
    height: 223px;
    width: 250px;
}

.liclass .info {
    display: block;
    line-height: 18px;
    float: right;
    font-size: 12px;
    color: #9d9d9d;
}

.data_list .blog_title {
    margin-top: 20px;
    text-align: center;
}

.data_list .blog_info {
    text-align: center;
}

.data_list .blog_content {
    margin-top: 20px;
    padding-bottom: 30px;
}

.data_list .blog_keyWord {
    margin-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
}

.data_list .blog_keyWord a {
    color: deepskyblue;
}

.data_list .blog_lastAndNextPage {
    border-top: 1px dotted black;
    padding: 10px;
}

.data_list .commentDatas {
    padding: 10px;
}

.data_list .commentDatas .comment {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 15px;
    border-bottom: 1px dotted gray;
}

.data_list .commentDatas .comment font {
    font-weight: bold;
}

.data_list .verCode {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}

.data_list .publish_comment {
    padding-top: 10px;
    padding-bottom: 50px;
}

.data_list .publish_comment .publishButton {
    padding-top: 10px;
    float: right;
}

.data_list .commentDatas .otherComment {
    display: none;
}

.data_list .search {
    padding: 5px;
}

.search .title a {
    color: #256EB1;
    font-weight: normal;
    text-decoration: underline;
}

.search .summary {
    display: block;
    line-height: 19.5px;
    padding-top: 0px;
    font-size: 13px;
    color: rgb(0, 0, 0);
}

.search .link a {
    color: #008400
}