.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #D9DADE;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-info {
    border-left-color: #9E9E9E;
}

.bs-callout-info h4 a {
    color: #009688;
    font-size: 20px;

}

.info {
    display: block;
    line-height: 18px;
    float: right;
    font-size: 13px;
    color: #9d9d9d;
}

.info a {
    color: #9d9d9d;
}
.smallClass {
    line-height: 1.8;
    color: #696868;
}
